@font-face {
  font-family: "InterVariable";
  src: url("./inter-variable.ttf");
}

* {
  font-family: InterVariable;
}

#root {
  width: 420px;
  border-radius: 4px;
  /* text-align: center; */
}

.header {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0rem;
  background-color: #e4f5e8;
  cursor: pointer;
}

.home-icon {
  margin-left: 1rem;
  padding: 0;
}

.header-text {
  margin-left: 1rem;
  padding: 0;
}

.login-header {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.login-button {
  margin-left: 24px;
  margin-bottom: 1rem;
}

.title-header {
  font-size: 1rem;
  margin-top: 3rem;
  left: 0;
  margin-left: 12px;
  color: #6b6d71;
}

.title-input {
  resize: none;
  width: 396px;
  margin-left: 12px;
  height: 82px;
  border-radius: 4px;
  outline: #d9d9d9;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  letter-spacing: 150%;
}

.tag-input {
  margin-left: 12px;
  outline: #d9d9d9;
  border: 1px solid #d9d9d9;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 4px;
}

.tags-container {
  margin-left: 12px;
  margin-bottom: 1rem;
  /* border: 1px solid #d9d9d9; */
  background-color: white;
  width: 11rem;
}

.tag {
  background-color: #e4f5e8;
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  cursor: pointer;
}

.save-button {
  width: 396px;
  text-align: center;
  margin-left: 12px;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #04a72e;
  border: 1px solid #68ca82;
  border-radius: 4px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
}
